<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<html>

<head>
    <title>商品类别管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/treeview/bootstrap-treeview.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/product/categorymanager.css}">
    <script th:src="@{/js/treeview/bootstrap-treeview.js}"></script>
    <script th:src="@{/js/product/categorymanager.js}"></script>
</head>

<body>
    
</body>

</html>
