<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>用户管理</title>
</head>

<body>
    <div th:fragment="user">
        <div class="row">
            <div clas="col-xs-2 col-sm-2 col-md-12 col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">查询条件</div>
                    <div class="panel-body">
                        <form id="formSearch" class="form-horizontal">
                            <div class="form-group" style="margin-top:15px">
                                <label class="control-label col-sm-1" for="txt_search_departmentname">部门名称</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txt_search_departmentname">
                                </div>
                                <label class="control-label col-sm-1" for="txt_search_statu">状态</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="txt_search_statu">
                                </div>
                                <div class="col-sm-4" style="text-align:left;">
                                    <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary">查询</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table id="userTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>组</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>

</html>
