<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshop.api.product.mapper.CategoryMapper">
	<select id="get" parameterType="long" resultType="Category">
		select * from t_category where id = #{id}
	</select>
	
	<select id="getChildrenByParentId" parameterType="String" resultType="Category">
		select category_id as cid,parent_id as parentId, name,type,level from t_category where parent_id = #{pid}
	</select>
	
	<select id="getByCategoryId" parameterType="String" resultType="Category">
		select * from t_category where CategoryId = #{CategoryId}
	</select>
	
	<select id="getCategoryByName" parameterType="String" resultType="Category">
		select * from t_category where name = #{name}
	</select>

	<select id="getAll" resultType="Category">
		select * from t_category;
	</select>

	<select id="count" resultType="int">
		select count(*) from t_category
	</select>

	<insert id="create" parameterType="Category">
		insert into t_category (id,category_id,parent_id,name,category_no,type,level) values (#{id},#{cid},#{parentId},#{name},#{cno},#{type},#{level})
	</insert>

	<update id="update" parameterType="Category">
		update t_category set name = #{name}
		where category_id = #{cid}
	</update>

	<delete id="delete" parameterType="long">
		delete from t_category where id = #{id}
	</delete>
	
</mapper>