<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<head>
    <title>菜单管理</title>
    <link rel="stylesheet" th:href="@{/dist/css/jstree/themes/default/style.min.css}">
    <script type="text/javascript" th:src="@{/dist/js/jstree/jstree.min.js}"></script>
    <script type="text/javascript" th:src=@{/js/menu/menuTree.js}></script>
    <!-- <script type="text/javascript" th:src=@{/js/menu/addMenu.js}></script> -->
</head>

<body>
    <div layout:fragment="content">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">菜单管理</h3>
                    </div>
                    <div class="box-body">
                        <div class="btn-group">
                            <button id="createNode" class="btn btn-success btn-flat">添加</button>
                            <button id="deleteNode" class="btn btn-success btn-flat">删除</button>
                            <button id="editNode" class="btn btn-success btn-flat">修改</button>
                        </div>
                        <div id="alertWin" class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" onclick="$('#alertWin').hide()">×</button>
                            <div id="alert-title">
                                <h4><i class="icon fa fa-warning"></i>系统信息</h4>
                            </div>
                            <div id="alert-body">Warning alert preview. This alert is dismissable.</div>
                        </div>
                        <div id="treeview">
                        </div>
                    </div>
                    <div id="treeLoading" class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div th:replace="menu/addMenu :: win"></div>
            </div>
        </div>
        <div class="row">
            <div>
                <!-- Modal -->
                <div class="modal fade" id="addMenuWin" tabindex="-1" role="dialog" aria-labelledby="addMenuWinLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="addMenuWinLabel">添加菜单</h4>
                            </div>
                            <div class="modal-body">
                                <div>
                                    <!-- Horizontal Form -->
                                    <div class="box box-info">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">菜单信息</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <!-- form start -->
                                        <form class="form-horizontal">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label for="addMenuType" class="col-sm-2 control-label">类型</label>
                                                    <div class="col-sm-10">
                                                        <select id="addMenuType" class="selectpicker">
                                                            <option value="0">模块</option>
                                                            <option value="1">菜单</option>
                                                            <option value="3">功能</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="addMenuName" class="col-sm-2 control-label">菜单名称</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="addMenuName" placeholder="菜单名称">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="addMenuUrl" class="col-sm-2 control-label">菜单路径</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="addMenuUrl" placeholder="菜单路径">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="addStatus" class="col-sm-2 control-label">状态</label>
                                                    <div class="col-sm-10">
                                                        <select id="addStatus" class="selectpicker">
                                                            <option value="0">启用</option>
                                                            <option value="1">禁用</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                            <div class="box-footer">
                                                <div class="btn-group pull-right">
                                                    <button id="addCancelBtn" type="button" class="btn btn-success">取消</button>
                                                    <button id="addOkBtn" type="button" class="btn btn-success">添加</button>
                                                </div>
                                            </div>
                                            <!-- /.box-footer -->
                                        </form>
                                    </div>
                                    <!-- /.box -->
                                </div>
                            </div>
                            <!-- <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">保存</button>
                            </div> -->
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
</body>

</html>
